#grad {
    width: 300px;
    height: 100px;
    background-image: linear-gradient(45deg, red, yellow, blue, purple, green);
}

div.vazio {
    width: 100px;
    height: 100px;
    position: absolute;
    border: solid 1px black;
    left: 200px;
    top: 150px;
}

div.transform {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 200px;
    top: 150px;
    background-color: red;
  /*transform: translate(10px, 20px);
    transform: rotateX(30deg);
    transform: scale(2, 2);
    transform: skew(100deg, 400rad);
    transform: skewX(20deg);
    transform: skewY(20deg);*/
}

div.transition{
    width: 100px;
    height: 100px;
    font-size: 120px;
    transition: all 2s;
    background-color: yellow;
    /*transition: height 2s, width 2s;*/
}
div.transition:hover{
    height: 200px;
    width: 200px;
    padding: 20px;
    background-color: cyan;
    font-size: large;
    font-size: 1010px;
}

input {
    width: 100px;
    height: 100px;
    transition: all 2s;
}

input:focus {
    width: 20000px;
    height: 2000px;
    font-size: 1000px;
}

/* transition propriedade | duração | função-de-tempo (ease, linear, ease-in, 
ease-out, ease-in-out)
transition: all 0.3s ease;*/

div.animado {
    width: 100px;
    height: 100px;
    background-color: green;
    animation-name: efect;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 3s;
}

@keyframes efect {
    0% { width: 100px; }
    25% {width: 300px; }
    50% {width: 200px; 
        background-color: blue}
    75% { width: 300px; }
    100% { width: 100px; 
        background-color: purple;}
}

